.dark {
  --background-color-up: #31334f;
  --background-color-blur: #1d2138c5;
  --background-shadow-blur: #202d3533;
  --background-color-down: #0F172A;
  --ghost-loader-color-up: #31334f;
  --ghost-loader-color-down: #0F172A;
  --primary-color-up: #fb8915;
  --color-down-pure: #0F172A;
  --color-up-pure: #ffffff;
  --text-color-down: #e2ebff;
  --foreground-color-down: #272d44;
  --primary-color-down: #31334f;
  --font-family: 'Nunito', sans-serif;
  --secondary-color-up: #2B5F66;
}
