.light {
  --background-color-up: #d8f4f1;
  --background-color-blur: #d8f4f1ab;
  --background-color-down: #ffffff;
  --background-shadow-blur: #b6e2ff33;
  --primary-color-up: #fb8915;
  --color-up-pure: #ffffff;
  --color-down-pure: #3a4867;
  --ghost-loader-color-up: #d8f4f1;
  --ghost-loader-color-down: #f7fffe;
  --text-color-down: #3a4867;
  --foreground-color-down: #D8F4F1;
  --primary-color-down: #ffefde;
  --font-family: 'Nunito', sans-serif;
  --secondary-color-up: #2B5F66;
}
